/*一级标题*/

body {
    font-size: 62.5%;
    margin: 0;
    font-family: "Microsoft YaHei"
}


/*头部 尾部*/

.head,
.foot {
    width: 100%;
    background-color: #333333;
    margin: 0;
}

.foot p {
    line-height: 70px;
    font-size: 1.2rem;
    color: #fff;
}

.head {
    height: 60px;
}

.head h1 {
    margin-left: 20px;
    font-size: 1.5rem;
    margin-top: 0;
    display: inline-block;
    height: 60px;
    line-height: 60px;
    color: #fff;
}

.foot {
    height: 70px;
    text-align: center;
}

.head h1,
.head ul li {
    margin-right: 10px;
}

.head ul {
    list-style: none;
    height: 60px;
    float: right;
    position: relative;
    line-height: 60px;
    margin: 0 20px;
}

.head ul li {
    float: left;
    font-size: 1.2rem;
}

.head ul li a {
    outline: none;
    color: #fff;
    text-decoration: none;
}

.head ul li a:hover {
    color: #33CC99;
}


/*主要内容样式 组容器*/

.content {
    background-color: #dedede;
    padding-right: 406px;
    border: 1px solid #999;
    margin: 20px;
}

.content:after {
    content: "";
    clear: both;
    display: table;
}


/*包含文章及相关内容*/

.mainContent {
    width: 100%;
    float: left;
}


/*侧边栏 宽度固定*/

.side {
    width: 340px;
    height: 500px;
    float: right;
    margin-right: -386px;
    background-color: #fff;
    box-shadow: 2px 2px 4px #999;
    margin-top: 20px;
}

.article_1,
.article_2,
.article_3,
.img_sum {
    margin: 20px;
    width: 100%;
    background-color: #fff;
    box-shadow: 2px 2px 4px #999;
}

.article_1,
.article_2 {
    height: 800px;
}

.article_3 {
    height: 500px;
}

div[class*="article"] h1 {
    font-size: 1.6rem;
    color: #000;
}

div[class*="article"] h2 {
    color: #646650;
    font-size: 1.4rem;
}

div[class*="article"] p {
    color: #1a0800;
    font-size: 1.2rem;
}

.article_container {
    padding: 1px;
    margin: 20px;
}

div[class*="article"] .author,
div[class*="article"] .time {
    color: #646650;
    font-size: 1.3rem;
    display: inline-block;
}

div[class*="article"] .author:hover {
    color: #3399CC;
    cursor: pointer;
}

div[class*="article"] img {
    max-width: 400px;
}

.img_sum {
    height: 400px;
    /*align-content: space-around;*/
}

.img_wrapper {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.img_wrapper > div {
    width: 100px;
    flex: 0 1 0;
}
