input {
    border: 1px solid #3399CC;
    text-indent: 10px;
    border-radius: 20px;
    transition: border-radius 0.5s ease-in;
}

input:focus {
    border-radius: 0;
    /*box-shadow: 1px 1px 1px #3399CC, -1px -1px 1px #3399CC;*/
    transition: border-radius 0.5s ease-in;
}

button {
    border-radius: 5px;
    border: 1px solid #999;
}

ul {
    position: absolute;
    display: block;
    /*width: 1200px;*/
    height: 300px;
}

li {
    /*background-color: #3399CC;*/
    color: #fff;
    float: left;
    display: inline-block;
    margin:0;
    width: 20px;
    position: absolute;
    bottom: 0;
    animation: heightAnim .6s ease-in-out;
}

li:not(last-of-type) {
    margin-right: 5px;
}

@keyframes heightAnim {
    0% {
        bottom: -300px;
    }
    100% {
        bottom: 0;
    }

}
