<!DOCTYPE html>
<html lang="en" ng-app='tree'>

<head>
    <meta charset="UTF-8">
    <title>task 25</title>
    <link rel="stylesheet" href="css/tree.css">
</head>

<body>
    <fieldset id="tree-module">
        <legend>树形组件</legend>
        <div class="query" ng-controller="queryNode">
            <input type="text" id="searchText" ng-model='nodeValue'>&nbsp;
            <button id="search" ng-click='queryNode()'>搜索</button>
            <button id="clear" ng-click='deleteNode()'>清除</button>
        </div>
        <p id="result"></p>
        <div id="tree-area">
            <div class="nodebody-visible" ng-controller="root">
                <label class="node-header">
                    <div class="arrow empty-arrow"></div>
                    <span class="node-title">{{name}}</span>
                    <span>&nbsp;&nbsp;</span>
                    <img class="addIcon" src="images/add.png">
                </label>
                <ul>
                    <li ng-repeat='name in names'>
                        {{name}}
                    </li>
                </ul>
            </div>
        </div>
    </fieldset>
    <script src='node_modules/angular/angular.js'></script>
    <script src='tree.js'></script>
</body>

</html>
